.validation_box {
  max-height: 100%;
  display: grid;
  justify-content: center;
  &__form {
    height: 400px;
    width: 600px;
    display: grid;
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.5);
    h1 {
      color: white;
    }
  }
}
