@import "styles/header.scss";
@import "styles/posters.scss";
@import "styles/filters.scss";

body {
  margin: 0 auto;
  max-width: 3012px;
  background-image: url(../src/images/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  & #root {
    display: grid;
    grid-template-rows: 20%, 80%;
    min-height: 100vh;
    // grid-template-rows: 15% 60% 25%;
  }
}
